/* 隐藏所有页面顶部的标题 */
.page-header {
    display: none;
}


/* 默认 Markdown 链接显示为正文颜色，不显示下划线 */
a {
    color: inherit !important;           /* 链接颜色继承正文颜色 */
    text-decoration: none !important;    /* 去掉下划线 */
}

/* 鼠标悬停时显示下划线提示可点击，可选 */
a:hover {
    text-decoration: underline !important;
}
