/* 隐藏所有页面顶部的标题 */
.page-header {
    display: none;
}

/* 全局覆盖 Markdown 链接颜色 */
a, a:visited, a:active, a:link {
    color: inherit !important;           /* 链接颜色继承正文 */
    text-decoration: none !important;    /* 去掉下划线 */
}

/* 鼠标悬停时显示下划线 */
a:hover {
    color: inherit !important;
    text-decoration: underline !important;
}
