/* 隐藏所有页面顶部的标题 */
.page-header {
    display: none;
}

/* 全局 Markdown 链接显示为正文颜色，不显示下划线 */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline; /* 鼠标悬停显示下划线 */
}
